@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Knewave);

html,
body{
	margin:0;
	padding:0; 
	font-size:13px; 
	font-family: 'Droid Serif', serif;
	color:#919191; 
	background-color:#232323;
	position:relative;
	background-image: url('../images/giftly.png');
	background-position: center center;
}

.clear:after{
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden; 
	line-height:0;
}


a{
	outline:none; 
	text-decoration:none;
}


.left{
	float:left;
}

.right{
	float:right;
}





div.wrapper{
	display:block; 
	width:100%; 
	margin:0;
	padding:0;
	text-align:left;
}

.row1{
	font-family: 'Open Sans', sans-serif;
	position:fixed;
	z-index:300;
	top:0;
}

.row1, .row1 a{
		color:#000; 
	background-color:rgb(255,255,255);
}

.fb{
    position: relative;
    top: 66px;
    right: -934px;
}

.fb img{
	width:20px;
	height:20px;
}

.row2{
	color:#000; 
	position:relative;
	top:114px;

}

.row2 a{
	float:right;
	font-size:22px;
}

.row3, .row3 a{
	font-family: 'Knewave', cursive;
	font-size:20px;
	position:relative;
	top:114px;
	color:#000; 
	background-color:rgb(255, 136, 0);
}


#header, #container, #footer, #copyright{
	display:block; 
	width:960px; 
	margin:0 auto;
}

nav ul{
	margin:0; 
	padding:0; 
	list-style:none;
}

h3{
	font-family: 'Open Sans', sans-serif;
	margin:0; 
	padding:0; 
	font-size:32px; 
	font-weight:600; 
	line-height:normal;
	
}





#header{
	padding:20px 0;
}



#header nav{
	display:block; 
	float:right; 
	margin:10px 0 0 0; 
	padding:20px 0; 
	color:#000; 
}

#header nav ul{
	padding:0 20px;
}

#header nav li{
	display:inline; 
	margin-right:25px; 
	text-transform:uppercase;
}

#header nav li.last{
	margin-right:0;
}

#header nav li a{
	font-size:18px;
}
	
li.photos a{
	color:#FF9900; 
	background-color:#232323;
}

#header nav ul li a:hover{
	color:#FF9900; 
	background-color:#232323;
}

.logo img{
	position:absolute;
	height:75px;
	width:400px;
}


#container{
	padding:30px 0;
}







#column1 {
	float:left;
	width:640px;
}

.post {
    position: relative;
	background-color:#ffc380;
	padding:10px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
	margin-bottom:10px;
}

.post figure {
    width:600px;
    width: min-content;
	position: relative;
	margin:0;
}
	
.post figure img{
	display:block;
	margin-bottom:15px;
}

.post figure figcaption{
	position: absolute;
	left:0;
	bottom:0;
	right:0;
	padding:10px;
    background-color:rgba(16, 191, 13, 0.46);
	color:#fff;
    font-weight: 900;   
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0,0,0,1.5);
}

#homepage {
    color: #000;
}

p{
    font-size: 18px;
}

.last{
    margin-bottom: 0;
}

.number{
    position: absolute;
    float:right;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: lighter
}

.number p{
        border:3px solid #000;
		height:40px;
		width:40px;
		border-radius:100%;
		color:#030b1e;
		border-color:#030b1e;
		margin:0;
		padding:0;
		text-align:center;
		font-size:32px;
}

#container #homepage{
	display:block; 
	width:100%; 
	line-height:1.8em;
}



#footer{
	padding:30px 0; 
	font-size:12px; 
	line-height:1.4em;
}






#copyright{
	padding:20px 0;
}

#copyright p{
	margin:0; padding: 0;
}